<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511365293149-ee23dsm01gu7flfmc0hji1hrjkpv1cgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511365293149-ee23dsm01gu7flfmc0hji1hrjkpv1cgt</string>
	<key>API_KEY</key>
	<string>AIzaSyDqeOWBWcSnIA2u8rNvk1KylEzyzzdQCuY</string>
	<key>GCM_SENDER_ID</key>
	<string>511365293149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bizecase</string>
	<key>PROJECT_ID</key>
	<string>bizecase</string>
	<key>STORAGE_BUCKET</key>
	<string>bizecase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511365293149:ios:dc443b17d49d140b70d9b4</string>
</dict>
</plist>